footer {
    width: 100%;
    // position: absolute;
    bottom: 0;
    background: #585CE9;
    color: #E5E9F7;
    // padding: 100px 0 30px;
    font-size: 13px;
    line-height: 20px;

    .footer-section {
        padding-top: 70px;
        max-width: 1140px;
    }

    .row {
        img {
            margin-bottom: 30px;
        }

        h5 {
            font-weight: 400;
            font-size: 16px;
            color: #E5E9F7;
            letter-spacing: 0.69px;
            line-height: 30px;
            margin-bottom: 30px !important;
        }
        ul{
            padding-left: 0;
            li{
                list-style: none;
                margin-bottom: 12px;
                a{
                    text-decoration: none;
                    color: #E5E9F7; 
                    p{
                        transition: all 0.5s ease;
                        &:hover{
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }
    .social-media{
        i{
            width: 20px;
            height: 40px;
            cursor: pointer;
        }
    }
    .end-info{
        text-align: center;
        margin-top: 30px;
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: 400;
        font-size: 14px;
        color: #E5E9F7;
    }
}
// @media screen and (max-width:990px){
//     footer{
//         width: 100%;
//     }
// }
// @media screen and (max-width: 574px){
//     .card{
//         width: 100%;
//     }
// }